<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>购物车</title>
    <import type="css" file="css.style" /> 
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <section class="chart-head">
        <h3>购物车</h3>
    </section>
    <section class="chart-list">
        <ul class="shopping-list">
            <volist name="carts" id="cart">
                <li>
                    <img src="{$cart.image}" alt="things">
                    <div>
                        <p>商品名称/颜色/规格<br />{$cart.name}--{$cart.color}--{$cart.size}
                        </p>
                        <p>产品数量</p>
                        <b>X<!-- {$cart.goodsnum} --></b>
                        <strong>￥<span>{$cart.price}</span></strong>
                    </div>
                </li>
            </volist>    
        </ul>
    </section>
    <section class="hideContainer">
        <volist name="carts" id="cart">
            <section class="hideEdit">
                <a href="chart.html?delete={$cart.id}" onclick="<!-- jump({$cart.id}); -->alert('哈哈哈');">删除</a>
            </section>
        </volist> 
    </section>
    <section class="pay-confirm" id="pay-sum-confirm">
        <a href="pay.html">支付</a>
        <p>总计: <span>￥{$allprice}</span></p>
        <div style="clear: both;"></div>
    </section>
    <footer>
        <nav>
            <ul>
                <li><a href="homepage.html">
                        <img src="__PUBLIC__/images/home.png" alt="主页">
                        <p>主页</p>
                    </a></li>
                <li><a href="chart.html">
                        <img src="__PUBLIC__/images/shop-car-pressed.png" alt="购物车">
                        <p style="color: #b63c39;">购物车</p>
                    </a></li>
                <li><a href="people.html">
                        <img src="__PUBLIC__/images/mine.png" alt="个人">
                        <p>个人</p>
                    </a></li>
            </ul>
        </nav>
    </footer>
    <js href="/505/Public/js/jquery-v1.10.2.min.js" />
    <js href="/505/Public/js/jquery.touchSwipe.min.js" />
    <js href="/505/Public/js/index.js" />
    <script type="text/javascript">
        // function jump(deleteid){
        //     window.location.href="chart.html?delete=deleteid";
        // }
       
    </script>
</body>

</html>
