<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>购物车</title>
    <import type="css" file="css.style" /> 
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <section class="chart-head">
        <h3>购物车</h3>
    </section>
    <section class="chart-list">
        <ul class="shopping-list">
            <li>
                <img src="__PUBLIC__/images/things-pay.png" alt="things">
                <div>
                    <p>网上商城共分两个部分，一部分是面向用户的部分， 包括：顾客在线注册、购物、提交订单、付款...
                    </p>
                    <p>产品信息</p>
                    <b>X1</b>
                    <strong>￥<span>998</span></strong>
                </div>
            </li>
            <li>
                <img src="__PUBLIC__/images/things-pay.png" alt="things">
                <div>
                    <p>网上商城共分两个部分，一部分是面向用户的部分， 包括：顾客在线注册、购物、提交订单、付款...
                    </p>
                    <p>产品信息</p>
                    <b>X1</b>
                    <strong>￥<span>998</span></strong>
                </div>
            </li>
            <li>
                <img src="__PUBLIC__/images/things-pay.png" alt="things">
                <div>
                    <p>网上商城共分两个部分，一部分是面向用户的部分， 包括：顾客在线注册、购物、提交订单、付款...
                    </p>
                    <p>产品信息</p>
                    <b>X1</b>
                    <strong>￥<span>998</span></strong>
                </div>
            </li>
            <li>
                <img src="__PUBLIC__/images/things-pay.png" alt="things">
                <div>
                    <p>网上商城共分两个部分，一部分是面向用户的部分， 包括：顾客在线注册、购物、提交订单、付款...
                    </p>
                    <p>产品信息</p>
                    <b>X1</b>
                    <strong>￥<span>998</span></strong>
                </div>
            </li>
        </ul>
    </section>
    <section class="hideContainer">
        <section class="hideEdit">
            <a href="#">编辑</a><a href="#">删除</a>
        </section>
        <section class="hideEdit">
            <a href="#">编辑</a><a href="#">删除</a>
        </section>
        <section class="hideEdit">
            <a href="#">编辑</a><a href="#">删除</a>
        </section>
        <section class="hideEdit">
            <a href="#">编辑</a><a href="#">删除</a>
        </section>
    </section>
    <section class="pay-confirm">
        <a href="pay.html">支付</a>
        <p>总计: <span>￥998</span></p>
        <div style="clear: both;"></div>
    </section>
    <footer>
        <nav>
            <ul>
                <li><a href="homepage.html">
                        <img src="__PUBLIC__/images/home-pressed.png" alt="主页">
                        <p>主页</p>
                    </a></li>
                <li><a href="chart.html">
                        <img src="__PUBLIC__/images/shop-car.png" alt="购物车">
                        <p>购物车</p>
                    </a></li>
                <li><a href="people.html">
                        <img src="__PUBLIC__/images/mine.png" alt="个人">
                        <p>个人</p>
                    </a></li>
            </ul>
        </nav>
    </footer>
    <js href="/505/Public/js/jquery-v1.10.2.min.js" />
    <js href="/505/Public/js/jquery.touchSwipe.min.js" />
    <js href="/505/Public/js/index.js" />
</body>

</html>
