<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>商品详情页</title>
    <import type="css" file="css.style" /> 
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <section class="details-head">
        <h3>商品详情</h3>
    </section>
    <volist name="good" id="single">
        <section class="details-banner">
            <img src="__PUBLIC__/{$single.image}" alt="banner">
        </section>
        <section class="details-info">
            <h3 class="details-name">{$single.name}</h3>
        </section>
        <section class="details-price">
            <i>¥</i>
            <span>{$single.price}</span>
            <p>一口价<span>{$single.price}</span></p>
        </section>
    </volist>
    
    <section class="details-categories">
        <h3 class="goods-left">库存: <span>100</span></h3>
        <h3>尺码</h3>
        <div class="categ">
            <volist name="sizes" id="size">
                <label data-value="20509:28315" class='{$size.checked}'>{$size.size}</label>
            </volist>
        </div>
        <h3>颜色分类</h3>
        <div class="color-choice">
            <volist name="colors" id="color">
                <label data-value="20509:28315" class='{$color.checked}'>{$color.color}</label>
            </volist>
        </div>
    </section>
    <section class="details-pay-btn">
        <volist name="good" id="single">
            <a href="detail.html?add={$single.id}" onclick="add();">加入购物车</a>
            <a href="pay.html?fromdetail={$single.id}">立即购买</a>
        </volist>  
    </section>
    <footer>
        <nav>
            <ul>
                <li><a href="homepage.html">
                        <img src="__PUBLIC__/images/home-pressed.png" alt="主页">
                        <p>主页</p>
                    </a></li>
                <li><a href="chart.html">
                        <img src="__PUBLIC__/images/shop-car.png" alt="购物车">
                        <p>购物车</p>
                    </a></li>
                <li><a href="people.html">
                        <img src="__PUBLIC__/images/mine.png" alt="个人">
                        <p>个人</p>
                    </a></li>
            </ul>
        </nav>
    </footer>
    <js href="/505/Public/js/jquery-v1.10.2.min.js" />
    <script type="text/javascript">
        function add(){
            alert('添加成功');
        }
    </script>
    <script type="text/javascript">
    updateGoods();	//首次获取库存数量

    /*商品详情页 尺寸及颜色选择*/
    var categLabel = $(".categ label");
    var colorLabel = $(".color-choice label");
    $(categLabel).on("click", function() {
        for (var i = 0; i < $(categLabel).length; i++) {
            $(categLabel).removeClass('checked');
        }
        $(this).addClass('checked');
        updateGoods();	//更新库存
    })
    $(colorLabel).on("click", function() {
        for (var i = 0; i < $(colorLabel).length; i++) {
            $(colorLabel).removeClass('checked');
        }
        $(this).addClass('checked');
        updateGoods();	//更新库存
    });

    /*更新库存函数*/
    function updateGoods() {
    	var name = $(".details-name").text();
	    var size = $(".categ label.checked").text();
	    var color = $(".color-choice label.checked").text();
	    var data = {
	    	name: name,
	    	size: size,
	    	color: color
	    };
	    var leftNum = $(".goods-left span");
    	$.ajax({
	    	url: '{:U("index.php/home/index/goodsajax")}',
	    	type: 'POST',
	    	data: data
	    })
	    .done(function(dataget) {
	    	console.log("success");
	    	console.log(dataget)
	    	$(leftNum).text(dataget);
	    })
	    .fail(function() {
	    	console.log("error");
	    })
	    .always(function() {
	    	console.log("complete");
	    });
    }
    </script>
</body>

</html>
