
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>用户名</th>
      <th>帐号</th>
      <th>状态</th>
      <th style="width: 3.5em;"></th>
    </tr>
  </thead>
  <tbody>
       <volist name="list" id="vo"  >
      <tr>
        <td>{$i}</td>
        <td>{$vo.name}</td>
        <td>{$vo.account}</td>
        <td>{$vo.state}</td>
        <td>
        <a href="{:U("Home/Index/user?id=$vo[id]")}"><i class="fa fa-pencil"></i></a>
      <a href="{:U("Home/Index/deleteuser?id=$vo[id]")}" role="button" data-toggle="modal" onclick="del();"><i class="fa fa-trash-o"></i></a> 
      </tr>
    </volist>
  </tbody>
</table>

<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>

<script type="text/javascript">
      function del()
      {
          if(confirm("确定要删除吗？"))
          {
              return true;
          }
          else
          {
              return false;
          }
      }
</script>